<div class="container-fluid">
<div class="row">
  <div class="col-XS-4">
    <div class="pull-left">
      <button class="btn btn-default pull-left" ng-click="scanNow()">
        <i class="glyphicon glyphicon-asterisk" ng-class="{'fa-spin': scanning}"></i>
      </button>
    </div>
  </div>
  <div class="col-XS-8">
    <div class="pull-right">
      <a href="#start">{{$storage.email}}</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div ng-repeat="beacon in bands" >
      <div class="panel panel-primary">
        <div class="panel-heading">
           <h3>{{beacon.headline}} <i class="glyphicon glyphicon-star" ng-show="beacon.isLiked"></i></h3> 
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
              <img class="img-responsive" style="width:100%" ng-src="{{beacon.image}}" />
            </div>
            <div class="col-xs-6">
              <button class="btn btn-default pull-right" data-toggle="modal" ng-click="modalOpen(beacon)" data-target="#myModal">
                <i class="glyphicon glyphicon-resize-full"></i>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
        <h4 class="modal-title">{{modalBeacon.headline}} <i class="glyphicon glyphicon-star" ng-show="modalBeacon.isLiked"></i></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <img class="img-responsive" style="width:100%" ng-src="{{modalBeacon.image}}" />
          </div>
          <div class="col-xs-6">
            <div class="row">
              <a ng-click="openWebsite(modalBeacon.links)" ng-show="modalBeacon.links">Band's Website</a>
            </div>
            <div class="row">
              <a ng-click="openWebsite(modalBeacon.bands_in_town)" ng-show="modalBeacon.bands_in_town">Concert Schedule</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
             <button class="btn btn-success" ng-class="{ 'btn-default' : modalBeacon.enteredContest, 'btn-success' : !modalBeacon.enteredContest }" ng-click="contest(modalBeacon)">Enter The Contest</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="https://twitter.com/share?url=http://sxsw.joehack3r.com" class="btn btn-default" data-via="lvFestBand" data-count="none" data-hashtags="sxswmhc"><i class="fa fa-twitter"></i></a>
        <button type="button" class="btn btn-default" ng-click="liked(modalBeacon)" ng-hide="modalBeacon.isLiked"><i class="glyphicon glyphicon-star"></i></button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="modalClose()"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>